.seattle, .nyc, .portland {
  background-color: #ADD8E6;
  font-family: Arial, Helvetica, sans-serif; 
}

html, body, .container-fluid {
  height: 100%;
  width: 100%;
  font-size: 12px;
  padding: 0;
}

.weather-img {
    height: 40px;
    width: 40px;
}

table {
    width: 100%;
}

tr {
    height: 50px;
}

.name {
    font-size: 25px;
    text-indent: 10px;
}

img {
  margin-left: 45px;
}