.seattle, .nyc, .portland {
  background-color: gray;
  color: #E5E5E5;
}

.seattle {
  margin-top: -21px;
}

html, body, .container-fluid {
  height: 100%;
  width: 100%;
  margin-left: 0;
}

.row {
  height: 20%;
  padding-left: 5px;
}